/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

/* header area style starts here */
#header{
    width: 100vw;
}

/* navbar area style starts here */
.nav-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
    padding: 25px;
    transition: 0.3s;
}

nav li:hover{
    background-color: rgb(43, 43, 43);
}

nav li:hover a{
    color: aliceblue;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;

}
/* navbar area style ends here */

/* banner area style starts here */
.banner{
    background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    height: 100vh;
}

.banner-container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color:#fff
}

.banner-title{
    font-size: 85px;
}
.primary-color{
    color: red;
}

.banner-description{
    width: 750px;
    margin: 15px auto;
    font-size: 24px;
    line-height: 1.2;
}

.btn{
    
    padding: 15px 25px; 
    border: none;
    font-size: 18px;
    text-transform: uppercase;

}
.primary{
    background-color: red;
    color: #fff;
    margin-right: 10px;
}
/* banner area style ends here */


/* service area style starts here */
#service{
    width: 100vw;
    background-image: url('../asset/image/footer-bg.png'), linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    color: #fff;
}

.service-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.service-content{
    color: #BECFD0;
}

.round-btn{
    padding: 12px 30px;
    border-radius: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.service-top-btn{
    color: gray;
    margin-bottom: 20px;
}
.title{
    font-size: 35px; 
}

.service-title{
    margin-bottom: 20px;
}

.service-description{
    font-size: 20px;
    width: 500px;
    margin-bottom: 30px;
}

.service-content ol{
    margin: 20px 0 30px 10px;
    font-size: 18px;
}

.author-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-area{
    display: flex;
    align-items: center;
    border-right: 2px solid red;
    width: 320px;
    color: #fff;
}


.author-image img{
    border-radius: 50%;
    width: 100px;
    margin-right: 10px;
}

.author-more-btn{
    color: red;
    font-weight: 300;
}

.service-items-wrapper{
    margin-right: 20px;
}

.service-item-one-grp{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.service-item-two-grp{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.service-items{
    background-color: #fff;
    color: #000000;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
}

.service-items img{
    width: 100px;
    background-color: #fff;
    margin-top: 70px;
    margin-bottom: 20px;
}
/* service area style ends here */

/* appointment area style starts here */

#appointment{
    width: 80%;
    background-color: red;
    margin: 0 auto;
    border-radius: 20px;
    color: #fff;
    margin-top: -70px;
}

.appointment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.appointment-phone-number{
    width: 330px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 2px solid rgb(109, 61, 61);
}

.appointment-phone-number img{
    width: 120px;
    margin-right: 20px;
}

.appointment-phone-number h4{
    font-size: 35px;

}

.appointment-phone-number small{
    font-size: 12px;

}

.appointment-description{
    width: 470px;
    padding: 10px; 

}

.appo-btn{
    border-radius: 25px;
}
/* appointment area style ends here */

/* blog area style starts here */
#blog{
    background-color: #fff;
    color: #000000;
}

.blog-container{
    margin: 40px 0px;
}

.blog-title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.blog-description{
    width: 800px;
    font-size: 25px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 70px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card{
    width: 340px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 30px 0px gray;
}

.card img{
    width: 100%;
}

.card-title{
    font-size: 24px;
    padding: 15px;
    color: #363535;
}

.card-des{
    font-size: 18px;
    color: #363535;
    padding: 0px 15px;
}

/* blog area style ends here */

/* footer area style starts here */
#footer{
    width: 100vw;
    background-image: url('../asset/image/footer-bg.png'), linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    color: #fff;
}

.footer-container{
    width: 75%;
    margin: 0 auto;
}

.inner-footer{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.inner-footer .footer-title{
    font-size: 20px;
    margin-bottom: 40px;
}

.inner-footer li{
    list-style: none;
    margin: 10px 0px;
}

.inner-footer li a{
    text-decoration: none;
    color: #fff;
}

.brand-area, .contact-area{
    width: 250px;
}

.useful-link-area, .support-area{
    width: 140px;
}

.brand-area p{ 
    line-height: 1.5;
    padding: 20px 0px;
}

.brand-area i{ 
    margin: 10px;
    font-size: 20px;
}

.contact-area > small{
    font-size: 15px;
}

.contact-area > p{
    font-size: 16px;
    margin: 12px 0px;
}

.copyright-area{
    padding: 25px;
    text-align: center;
}

/* footer area style ends here */